<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.dao.backendInfoMapper">
		<select id="getappuserinfo"  parameterType="map" resultType="app_info">
	SELECT 	app_info.id,softwareName,APKName,softwareSize,b1.valueName as flatformName ,categoryLevel1,a1.categoryName as categoryLevel1Name,categoryLevel2,a2.categoryName as categoryLevel2Name,categoryLevel3,a3.categoryName as categoryLevel3Name,status,b2.valueName as statusName,downloads,versionNo,versionId
	FROM app_info 
			INNER JOIN data_dictionary AS b1 ON b1.valueId=app_info.flatformId
			INNER JOIN data_dictionary AS b2 ON b2.valueId=app_info.status
			
			INNER JOIN app_category AS a1 ON a1.id =app_info.categoryLevel1
			INNER JOIN app_category AS a2 ON a2.id =app_info.categoryLevel2
			INNER JOIN app_category AS a3 ON a3.id =app_info.categoryLevel3
			
			INNER JOIN app_version ON app_version.id=app_info.versionId
			WHERE b1.typeName='所属平台' AND b2.typeName='APP状态'
	
		<if test="appinfos.softwareName!=null and appinfos.softwareName!='' ">
				and softwareName like concat('%',#{appinfos.softwareName},'%')
		</if>
		<if test="appinfos.STATUS!=null and appinfos.STATUS!=''"><!-- APP状态 -->
				and b2.valueId=#{appinfos.STATUS}
		</if>
		<if test="appinfos.flatformId!=null and appinfos.flatformId!=''">
				 and  b1.valueId=#{appinfos.flatformId}
		</if>
		<if test="appinfos.categoryLevel1 !=null and appinfos.categoryLevel1 !=''">
				and a1.id=#{appinfos.categoryLevel1}
		</if>
		<if test="appinfos.categoryLevel2 !=null and appinfos.categoryLevel2 !=''">
				and a2.id=#{appinfos.categoryLevel2}
		</if>
		<if test="appinfos.categoryLevel3 !=null and appinfos.categoryLevel3 !=''">
				and a3.id=#{appinfos.categoryLevel3} 
		</if>
		limit #{currentPageNo},#{pageSize}
	</select>
	
	<select id="getCount" resultType="int">
		select count(1) as count from app_info
		INNER JOIN data_dictionary AS b1 ON b1.valueId=app_info.flatformId
		INNER JOIN data_dictionary AS b2 ON b2.valueId=app_info.status

		INNER JOIN app_category AS a1 ON a1.id =app_info.categoryLevel1
		INNER JOIN app_category AS a2 ON a2.id =app_info.categoryLevel2
		INNER JOIN app_category AS a3 ON a3.id =app_info.categoryLevel3

		INNER JOIN app_version ON app_version.id=app_info.versionId
		WHERE b1.typeName='所属平台' AND b2.typeName='APP状态'

		<if test="softwareName!=null and softwareName!='' ">
			and softwareName like concat('%',#{softwareName},'%')
		</if>
		<if test="STATUS!=null and STATUS!=''"><!-- APP状态 -->
			and b2.valueId=#{STATUS}
		</if>
		<if test="flatformId!=null and flatformId!=''">
			and b1.valueId=#{flatformId}
		</if>
		<if test="categoryLevel1 !=null and categoryLevel1 !=''">
			and a1.id=#{categoryLevel1}
		</if>
		<if test="categoryLevel2 !=null and categoryLevel2 !=''">
			and a2.id=#{categoryLevel2}
		</if>
		<if test="categoryLevel3 !=null and categoryLevel3 !=''">
			and a3.id=#{categoryLevel3}
		</if>
	</select>

	<!-- App审核 -->
	<select id="getSelectAppCheck" resultType="app_info">
		SELECT app_info.id,softwareName,APKName,supportROM,interfaceLanguage,softwareSize,
		downloads,valueName as flatformName,app1.categoryName as categoryLevel1Name,app2.categoryName as categoryLevel2Name,
		app3.categoryName as categoryLevel3Name,valueName as statusName,appInfo
		FROM app_info
		INNER JOIN data_dictionary ON app_info.flatformId=data_dictionary.valueId AND typeCode='APP_STATUS'
		INNER JOIN app_category AS app1 ON app1.id=app_info.categoryLevel1
		INNER JOIN app_category AS app2 ON app2.id=app_info.categoryLevel2	
		INNER JOIN app_category AS app3 ON app3.id=app_info.categoryLevel3
		<where>
			<if test="aid!=0"> and app_info.id=#{aid}</if>
			<if test="vid!=0"> and versionId=#{vid}</if>
		</where>
	</select>
	<!-- 修改状态 -->
	<update id="getUpdataStatus" parameterType="int">
		update app_info
		<set>status=#{status}</set>
		<where>
			<if test="id!=0">id=#{id}</if>
		</where>
	</update>
</mapper>